code_name="doc_retriever"


LLM_ID="llama3"
LLM_BASE_URL="http://192.168.x.x:11434"

SEARCH_SERVICE=duckduck # tavily
TAVILY_API_KEY=xxx

LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="xxxx"

#
IS_PERSISTENT=TRUE